@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  position: relative;
}
